* { 
    margin: 0; 
    padding: 0; 
}

canvas {  
    display: block;
}

html, body {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.container {
    border: 1px solid black; /* Optional: Just to visualize the container */
}