* { 
    margin: 0; 
    padding: 0; 
}

html, body {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
/* #canvas-container {
    position: relative;
    border: 1px solid black;
} */

/* canvas {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    background-color: "#E0E0E0";
} */

#canvas-container {
    position: relative;
}

canvas {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: purple;
}